
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.debug {
  background-color: rgb(235, 157, 157);
  border: 1px solid black;
  min-height: 50px;
}

.team-members {
  width: 90%;
  margin: 50px auto;
}
